html,body {
    height:95%;
    font-family: Arial, Helvetica, sans-serif;
}

{
    box-sizing: border-box;
}

/*experiment*/

/*.group_table:after {*/
/*    content: "";*/
/*    display: table;*/
/*    clear: both;*/
/*}*/

.group_column {
    position:relative;
}

.group_body {
    padding-top: 10px;
    background-color: grey;
    height: 600px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.title{
    padding-top: 5px;
    font-size: large;
    width: 90% ;
    text-align: center;
    background-color: aquamarine;
    margin-left: 5%;
}

#title{
    float: top;
    height:15px;
}

#content{
    float:bottom;
    width: 100%;
    height: 75%;
    text-align: center;
}

/*stats*/

.stats{
    position: relative;
    padding:0 0px;
    margin:0 0px;
    border: black solid 1px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.stat_box{
    float:left;
    padding:0 0px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.data_point {
    width: 100%;
    height: 25px;
}

.data_point_label {
    float: left;
    padding-left: 5px;
}

.data_point_value {
    float: right;
    padding-right: 5px;
}

/*maps*/

.map{
    float:left;
    height:150px;
    width:150px;
    padding:0 0px;
    position: absolute;
    left: 0px;
    top: 0px;
    margin: 0 0px;
    background-color: white;
}

.map_box{
    position: relative;
    width:150px;
    height:150px;
    padding-top:5px;
    padding-bottom:5px;
    margin:0 0px;
    margin: 0 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

/*set*/

.set_layout{
    height: 100%;
    margin: 0 auto;
    display: inline-block;
}
.left_spacer{
    height: 100%;
    float:left;
}

.left_pane {
    width:225px;
    float:left;
}
.right_pane {
    height: 100%;
    float:left;
}

.right_spacer{
    width:175px;
    float:left;
}

/*episodes*/

.current_episode{
    position: relative;
    width:450px;
    height:450px;
    border: 2px solid;
    background-color: white;
}

.current_expected_rewards{
    position: relative;
    width: 450px;
    height: 194px;
    border: 2px solid;
    background-color: lightgrey;
}

.tooltip{
    background-color: white;
    border: 1px solid;
}

.episodes{
    width: 225px;
    height: 656px;
    overflow-y: scroll;
    background-color: grey;
}

.episode_box{
    position: relative;
    width:200px;
    height:200px;
    margin: 5px;
    background-color: white;
}

/*settings*/


#settings {
    width: 500px;
    column-count: 3;
}

.setting_box {
    padding: 5px;
}

.download {
    background: url('img/download.png');
    cursor: pointer;
    float: left;
    height: 27px;
    width: 27px;
    margin-top: 10px;
}

#agent_select{
    width: 150px;
}

#winner_select{
    width: 150px;
}

/*playback*/

.display {
    height: 30px;
    float: left;
    text-align: center;
    width: 138px;
    font-size: 18px;
    padding-top: 5px;
}

.display_step {
}

.display_value {
}

.control_box{
    position: relative;
    height: 30px;
    width: 450px;
    margin-left: 1px;
    margin-top: 2px;
    margin-bottom: 2px;
}

.btn{
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid #999999;
    background-color: white;
    float: left;
    height: 27px;
    width: 30px;
}

.btn_play{
    background: url('img/buttons.png') -114px 0px;
}

.btn_pause{
    background: url('img/buttons.png') -154px 0px;
}

.btn_first{
    background: url('img/buttons.png') -38px 0px;
}

.btn_prev{
    background: url('img/buttons.png') 0px 0px;
}

.btn_next{
    background: url('img/buttons.png') -230px 0px;
}

.btn_last{
    background: url('img/buttons.png') -192px 0px;
}